<div class="bg-light home-hero pb-5">
  <div class="container col-xxl-9">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <div id="hero-media" class="col-10 col-sm-8 col-lg-6">
          <img src="/img/free-it-solutions.webp" class="d-block mx-lg-auto img-fluid" alt="Free IT Solutions" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Free IT Solutions for a Changing World</h1>
          <p class="lead">Navigate the challenges of automation and AI. Discover free tools and strategies to secure your financial future, including insights on Universal Basic Income (UBI).</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/blog/" class="btn btn-primary btn-lg px-4 me-md-2">Explore Solutions</a>
            <a href="/blog/what-is-ubi/" class="btn btn-outline-secondary btn-lg px-4">Learn about UBI</a>
          </div>
        </div>
      </div>
    </div>
</div>
<style>
  header + div {
    position: absolute;
    max-width:0!important;
    max-height: 0!important;
  }
</style>